.header {
  position: absolute;
  /* background-color: rgb(141, 84, 84); */
  right: 28px;
  top: 22px;
  z-index: 10;
}
.header ul {
  list-style: none;
}
.header ul li {
  display: inline;
  padding: 10px;
}
.header ul li a {
  text-decoration: none;
  font-family: cursive;

  font-size: 26px;
  font-weight: 500;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px rgb(14, 13, 13);

  transition: text-shadow 0.4s;
}
/* .header ul li a:hover { */
/* color: black; */
/* text-shadow: 2px 2px 6px rgb(255, 255, 255); */

/* border-bottom-width: 3px;
  border-bottom-color: white;
  border-bottom-style: solid;
}  */
